@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ea580c !important; 
}

@layer components {
  .container {
    @apply container mx-auto py-4 xl:px-0 px-2;
  }

  h1{
    @apply text-xl font-semibold mb-2;
  }

  h2{
    @apply text-lg font-semibold mb-2;
  }

  h3{
    @apply text-[16px] font-semibold mb-2;
  }

  p {
    @apply text-base leading-relaxed text-gray-700;
  }

  .badge-primary {
    @apply bg-orange-600 px-2 py-1 text-sm inline-block mb-2 text-white;
  }

  .btn-primary {
    @apply min-w-[90px] inline-block text-center bg-orange-600 py-1.5 px-3 text-white hover:bg-white hover:text-orange-600 border border-orange-600 transition-all ease-in cursor-pointer;
  }

  .btn-outline-primary {
    @apply min-w-[90px] inline-block text-center bg-white py-1.5 px-3 text-orange-600 hover:bg-orange-600 hover:text-white border border-orange-600 transition-all ease-in cursor-pointer;
  }

  .btn-success {
    @apply min-w-[90px] inline-flex items-center justify-center gap-2 inline-block text-center bg-green-600 py-1.5 px-3 text-white hover:bg-white hover:text-green-600 border border-green-600 transition-all ease-in cursor-pointer;
  }

  .btn-warning {
    @apply min-w-[90px] inline-flex items-center justify-center gap-2 inline-block text-center bg-yellow-400 py-1.5 px-3 text-white hover:bg-white hover:text-yellow-400 border border-yellow-400 transition-all ease-in cursor-pointer;
  }

  .btn-danger {
    @apply min-w-[90px] inline-flex items-center justify-center gap-2 inline-block text-center bg-red-600 py-1.5 px-3 text-white hover:bg-white hover:text-red-600 border border-red-600 transition-all ease-in cursor-pointer;
  }

  .nav-link {
    @apply transition-all ease-in hover:text-orange-600 cursor-pointer;
  }

  .label {
    @apply block mb-2 text-sm font-medium dark:text-white;
  }

  .input {
    @apply bg-gray-50 border border-gray-300 outline-0 text-sm rounded-lg focus:border-orange-600 block w-full p-2.5;
  }

  .select {
    @apply bg-gray-50 border border-gray-300 outline-0 text-sm rounded-lg focus:border-orange-600 block w-full p-2.5;
  }

  .form {
    @apply flex flex-col gap-4 my-4;
  }
}